{% block title %}{{battle.title}}{% endblock %}
{% extends 'template.html' %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{battle.title}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
		    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Video
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <iframe id="ytplayer" style="border: none;" width="640" height="390" src="http://www.youtube.com/embed/{{battle.id}}"></iframe>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Gewonnen mit: {{battle.win_points}} Punkten
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTables-1">
                                    <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Score</th>
                                            <th>Kills</th>
                                            <th>Deaths</th>
                                            <th>Assists</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in battle.win %}  
                                        <tr>
                                            <td><a href="../player/{{x.p|url_encode}}.html">{{x.p}}</a></td>
                                            <td>{{x.s}}</td>
                                            <td>{{x.k}}</td>
                                            <td>{{x.d}}</td>
                                            <td>{{x.a}}</td>
                                        </tr>
                                        {% endfor %}    
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Verloren mit: {{battle.lose_points}} Punkten
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                 <table class="table table-striped" id="dataTables-2">
                                    <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Score</th>
                                            <th>Kills</th>
                                            <th>Deaths</th>
                                            <th>Assists</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in battle.lose %}  
                                        <tr>
                                            <td><a href="../player/{{x.p|url_encode}}.html">{{x.p}}</a></td>
                                            <td>{{x.s}}</td>
                                            <td>{{x.k}}</td>
                                            <td>{{x.d}}</td>
                                            <td>{{x.a}}</td>
                                        </tr>
                                        {% endfor %}    
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block js %}
     <script>
    $(document).ready(function() {
      var options = {
	"bPaginate": false,
	"bFilter" : false,
	"bSort": false,
        "bInfo": false
      };
    
        $('#dataTables-1').dataTable(options);
        $('#dataTables-2').dataTable(options);
    });
    </script>
{% endblock %}
{% block relPath %}../{% endblock %}